body {
  background-color: #000;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-position:center top;
}
.jumbotron {
  background-color: #dcdcdc;
  padding-bottom: 5px;
}
.glyphicon-cutlery {
  top: 5px;
  padding-right: 5px;
  color: #cf0000;
}
.panel {
  text-align: center;
  min-height: 185px;
}
.imgloader {
  width: 26px;
  height: 26px;
}
.panel-success {
  cursor: pointer;
  font-size: 0.8em;
}
p.panel-msg {
  color: #cf0000;
}
.btn.btn-danger.btn-lg {
  width: 100%;
  margin-bottom: 20px;
}
.blurry {
   color: transparent;
   text-shadow: 0 0 1px rgba(0,0,0,0.5);
}
.half {
    position:relative;
}
.half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:white;
    width: 50%;
    height: 100%;
    left: 47%;
}
.star-color {
  color: #FFCC00;
}
.social {
  padding-left: 2px;
  padding-right: 2px;
  width: 125px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
